$main-color: #aeea00;

.top-main {
  width: 100%;
  .swiper-container {
    height: 300px;
    background-color: $main-color;
    text-align: center;
    h1{
      line-height: 300px;
    }
  }

  .border {
    background-color:  #f0f0f0;
    height: 30px;
    width: 100%;
  }

  .history-log {
    &__contents {
      width: 940px;
      padding-bottom: 30px;
      margin: 0 auto;
      &__title {
        margin-bottom: 20px;
        border-bottom: 1px solid #eee;
        h2 {
          padding: 30px 20px 10px 20px;
          width: 100px;
          color: #e32f2f;
          font-weight: 600;
          border-bottom: 3px solid #e32f2f;
        }
      }
      &__restaurants {
        .restaurants-list {
          width: 100%;
          display: flex;
          justify-content: space-between;
          &__item {
            width: 14%;
            &__image {
              width: 110px;
              height: 110px;
            }
            &__title {
              font-size: 12px;
              width: 80%;
            }
            &__location {
              font-size: 10px;
            }
          }
        }
      }
    }
  }
  .category-recommendation {
    padding-bottom: 40px;
    &__contents {
      width: 940px;
      margin: 0 auto;
      padding-top: 30px;
      border-top: 4px solid #f0f0f0;
      &__title {
        text-align: center;
        h2 {
          font-size: 24px;
          font-weight: 600;
        }
      }
      .category-container {
        margin-top: 30px;
        .category-list {
          display: flex;
          &__item {
            position: relative;
            .first-image {
              margin-right: 1px;
              .category-first-image{
                height: 280px;
              }
            }
            &__description {
              color: #fff;
              bottom: 6px;
              position: absolute;
              padding: 10px 20px 20px;
              background: linear-gradient(180deg,transparent 0,rgba(0,0,0,.2) 20%,rgba(0,0,0,.4));
              .category-title {
                font-weight: 700;
                font-size: 20px;
              }
              .category-about{
                margin-top: 5px;
                font-size: 13px;
                font-weight: 100;
              }
            }
            &__image {
              margin-right: 1px;
              .category-image {
                width: 235px;
                height: 280px;
              }
            }
          }
        }
      }
    }
  }
  .restaurant-registration{
    padding-bottom: 40px;
    &__contents {
      width: 940px;
      margin: 0 auto;
      padding-top: 30px;
      &__title {
        line-height: 50px;
        border-top: 3px solid #cddc39;
        border-bottom: 3px solid #cddc39;
        .title {
          font-weight: 600;
        }
      }
      &__form {
        margin-top: 30px;
        .text {
        }
        .restaurant-registration-btn {
          margin-top: 40px;
          &__submit {
            display: block;
            width: 200px;
            line-height: 50px;
            margin: 0 auto;
            text-align: center;
            text-decoration: none;
            color: #37474f;
            background-color: $main-color;
            font-size: 20px;
            font-weight: 600;
            border-radius: 20px;
          }
        }
      }
    }
  }
}


