.new-restaurant {
  &__contents {
    width: 940px;
    margin: 0 auto;
    margin-top: 50px;
    &__title {
      line-height: 50px;
      font-weight: bold;
      font-size: 20px;
      text-align: center;
      border-top: 3px solid #cddc39;
      border-bottom: 3px solid #cddc39;
    }
    &__text {
      margin-top: 5px;
      font-size: 10px;
      color: #9e9e9e;

    }
    &__form {
      .form-container {
        margin-top: 30px;
        &__info-title {
          background-color: #CDDC39;
          line-height: 50px;
          margin-top: 30px;
          font-size: 20px;
          padding-left: 10px;
          font-weight: 700;
        }
        &__info-table {
          width: 100%;
          .table-holder {
            background-color: #f0f4c3;
            width: 25%;
            line-height: 70px;
            padding-left: 10px;
            font-size: 16px;
            font-weight: 600;
            border-collapse: collapse;
            border-top: 1px solid black;
            border-bottom: 1px solid black;
          }
          .table-data {
            width: 75%;
            padding: 0 10px 0 10px;
            border-collapse: collapse;
            border-top: 1px solid black;
            border-bottom: 1px solid black;
            &__input-field {
              width: 100%;
            }
            &__input-textarea {
              width: 100%;
              margin-top: 10px;
            }
          }
        }
        .image-uploader {
          &__title {
            line-height: 40px;
            background-color:  #f0f4c3;
            padding-left: 10px;
            font-size: 16px;
            font-weight: 600;
            border-top: 1px solid black;
            border-bottom: 1px solid black;
          }
          &__form {
            padding-left: 10px;
            .js-file_group {
              display: flex;
              .js-file {
                line-height: 70px;
              }
              .js-remove {
                position: relative;
                span {
                  position: absolute;
                  top: 18px;
                  display: inline-block;
                  width: 50px;
                  text-align: center;
                  background-color: #e0e0e0;
                  padding: 5px;
                  border-radius: 10px;
                }
              }
            }
          }
        }
        .field {
          text-align: center;
          margin: 30px 0 50px 0;
          .restaurant-submit-btn {
            padding: 10px;
            border-radius: 20px;
            cursor: pointer;
            outline: none;
          }
        }
      }
    }
  }
}