.toppage-header {
  width: 100%;
  padding: 8px 2px;
  background-color: #f9fbe7;
  .header-inner {
    margin: 0 auto;
    width: 940px;
    display: flex;
    justify-content: space-between;
    &__left-box {
    }
    &__right-box {
      display: flex;
      line-height: 60px;
      &__logout {
        .logout-btn {
          text-decoration: none;
          color: black;
        }
      }
      &__login {
        margin-right: 15px;
        .login-btn {
          text-decoration: none;
          color: black;
        }
      }
      &__registration {
        .registration-btn {
          text-decoration: none;
          color: black;
        }
      }
      &__likes{
        margin-right: 15px;
        .likes-link {
          text-decoration: none;
          color: black;
        }
      }
      &__mypage {
        margin-right: 15px;
        .mypage-link {
          text-decoration: none;
          color: black;
        }
      }
    }
  }
}