%header.toppage-header
  .header-inner
    %h1.header-inner__title glugle
    .header-inner__right-box
      .header-inner__right-box__likes
        = link_to "#", class: "likes-link" do
          %i.fas.fa-heart
          %span お気に入り
      .header-inner__right-box__mypage
        = link_to "マイページ", "#", class: "mypage-link"

%main.top-main
  

