$main-color: #aeea00;

.toppage-header {
  width: 100%;
  background-color: #f9fbe7;
  padding: 8px 2px;
  .header-inner {
    margin: 0 auto;
    width: 940px;
    display: flex;
    justify-content: space-between;
    &__title {
      font-size: 24px;
      line-height: 50px;
    }
    &__right-box {
      display: flex;
      line-height: 50px;
      &__likes{
        margin-right: 15px;
        .likes-link {
          text-decoration: none;
          color: black;
        }
      }
      &__mypage {
        .mypage-link {
          text-decoration: none;
          color: black;
        }
      }
    }
  }
}
