.user-edit-page {
  margin-top: 50px;
  &__contents {
    padding: 20px 50px 50px;
    width: 300px;
    margin: 0 auto;
    border: 2px solid #f0f0f0;
    &__title {
      text-align: center;
      line-height: 100px;
      font-size: 24px;
      font-weight: 700;
    }
    &__form {
      .edit_user {
        .edit-field {
          &__label {
          }
          &__input {
            margin-bottom: 10px;
            &__form {
              width: 100%;
            }
          }
        }
      }
      .actions {
        margin: 15px 0 10px;
        .submit-btn {
        }
      }
    }
  }
}